<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %} Independent Album Catalog {% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <header class="site-header">
      <h1>Independent Album Catalog</h1>

      <nav>
        <a href="{{ url_for('albums') }}"> All Albums </a>

        <a href="{{ url_for('add') }}"> Add Album </a>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>
  </body>
</html>