<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %} City Bike Rental {% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>City Bike Rental</h1>

      <nav>
        <a href="{{ url_for('stations') }}"> Stations </a>
        <a href="{{ url_for('add_bike') }}"> Add a Bike </a>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>